.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;

}
.fit{
    width: auto;


}


.button {
    margin-left: 10px;
    height: 40px;
}

.right {
    text-align: right;
}
.left {
    text-align: left;
}
.child {
    max-width: 50%;
}
.icon {
    width: 10%;
}

.card:nth-child(even) {
    background-color: #E1FCFF; /* Синий цвет */
}

.card:nth-child(odd) {
    background-color: #FFF3E1; /* Зеленый цвет */
}
.card:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}
