.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;


}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.child {
  max-width: 50%;
}
.icon {
  width: 10%;
}
.App {
  background-image: url(./gifs/snow4.gif);
  /*background-size: auto,*/
  height: 100vh;
  background-color: #ffffff
}

